<html>
    <title>Monitoring Program Budaya</title>
    <head>
        <style>
            table{width: 100%;}
            .table1{ border-bottom: 1px solid #ddd;}
            .judul{color: #a32020; font-size: 24px; font-weight: bold;}
            .text-left{text-align: left;}
            .text-center{text-align: center;}
            .text-right{text-align: right;}
            dl{width: 80%; padding: 1px;}
        </style>
    </head>
    <body>
        <table class="table1">
            <tr>
                <td class="text-left"><img src="http://ojkway.com/public/img/logo.png" alt="Logo OJK"></td>
                <td class="text-center" style="font-family: arial;"><div class="judul">Monitoring Program Budaya</div></td>
                <td class="text-right"><img src="http://ojkway.com/public/img/logo-ojkwayinpresiv.png" alt="Logo OJK 2"></td>
            </tr>
        </table>
        <br>
        <table border="1" class="table2">
            <tr>
                <td class="text-left">Nama Pengisi Form</td>
                <td>:</td>
                <td class="text-left"><dl>Yusuf Sondakh</dl></td>
                <td class="text-right">Change Partner</td>
                <td>:</td>
                <td><dl>Yusuf Sondakh</dl></td>
            </tr>
            <tr>
                <td class="text-left">Periode</td>
                <td>:</td>
                <td class="text-left"><dl>Januari - Maret</dl></td>
                <td class="text-right">Tahun</td>
                <td>:</td>
                <td><dl>2015</dl></td>
            </tr>
            <tr>
                <td class="text-left">Deputi Komisioner</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Audit Internal, Manajemen Resiko dan Pengendalian Kualitas (AIMRPK)</dl></td>
            </tr>
            <tr>
                <td class="text-left">Departemen</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Audit Internal</dl></td>
            </tr>
            <tr>
                <td class="text-left">Nama Pimpinan</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Abdul Rouf</dl></td>
            </tr>
            <tr>
                <td class="text-left">Jabatan</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Kepala Departemen</dl></td>
            </tr>


            <tr>
                <td class="text-left" colspan="6" style="background: #ddd;">Program Budaya 1 : <b>OJK INOVATIF</b></td>
            </tr>
            <tr>
                <td class="text-left">Nama Program </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Nilai Self Assessment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>1 - Belum dilakukan</dl></td>
            </tr>
            <tr>
                <td class="text-left">Attachment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl><a href="">Download File Lampiran</a></dl></td>
            </tr>
            <tr>
                <td class="text-left">Konsistensi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Konsistensi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Kreativitas</td>
                <td>:</td>
                <td class="text-left"><dl>Belum sepenuhnya digunakan</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dokumentasi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Terdokumentasi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dampak pada perilaku</td>
                <td>:</td>
                <td class="text-left"><dl>Sudah terlihat perbaikan perilaku</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left" colspan="6" style="background: #ddd;">Program Budaya 2 : <b>Efektivitas Rapat</b></td>
            </tr>
            <tr>
                <td class="text-left">Nama Program </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Nilai Self Assessment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>1 - Belum dilakukan</dl></td>
            </tr>
            <tr>
                <td class="text-left">Attachment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl><a href="">Download File Lampiran</a></dl></td>
            </tr>
            <tr>
                <td class="text-left">Konsistensi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Konsistensi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Kreativitas</td>
                <td>:</td>
                <td class="text-left"><dl>Belum sepenuhnya digunakan</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dokumentasi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Terdokumentasi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dampak pada perilaku</td>
                <td>:</td>
                <td class="text-left"><dl>Sudah terlihat perbaikan perilaku</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-left">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>

            
            <tr>
                <td class="text-left" colspan="6" style="background: #ddd;">Program Budaya 3 : <b>Budaya Spesifik</b></td>
            </tr>
            <tr>
                <td class="text-left">Nama Program </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Tujuan Program </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Target Program </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Deskripsi Monitoring </td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>Sharing Informasi DPAI</dl></td>
            </tr>
            <tr>
                <td class="text-left">Nilai Self Assessment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>1 - Belum dilakukan</dl></td>
            </tr>
            <tr>
                <td class="text-left">Attachment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl><a href="">Download File Lampiran</a></dl></td>
            </tr>
            <tr>
                <td class="text-left">Konsistensi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Konsistensi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Kreativitas</td>
                <td>:</td>
                <td class="text-left"><dl>Belum sepenuhnya digunakan</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dokumentasi</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Terdokumentasi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Dampak pada perilaku</td>
                <td>:</td>
                <td class="text-left"><dl>Sudah terlihat perbaikan perilaku</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>


            <tr>
                <td class="text-left" colspan="6" style="background: #ddd;"><b>Peran Pimpinan</b></td>
            </tr>
            <tr>
                <td class="text-left">Nilai Self Assessment</td>
                <td>:</td>
                <td class="text-left" colspan="4"><dl>1 - Belum dilakukan</dl></td>
            </tr>
            <tr>
                <td class="text-left">Role Model</td>
                <td>:</td>
                <td class="text-left"><dl>Belum Konsistensi</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
            <tr>
                <td class="text-left">Keterlibatan Pimpinan</td>
                <td>:</td>
                <td class="text-left"><dl>Belum sepenuhnya digunakan</dl></td>
                <td class="text-right">Penjelasan</td>
                <td>:</td>
                <td class="text-center">Pelaksanaan baru bisa dilakukan <br> setelah seluruh auditor kembali <br> ke tempat kerja masing-masing</td>
            </tr>
        </table>
    </body>
</html>